USE [master]
GO
/****** Object:  Database [DoAnTotNghiep_Test]    Script Date: 3/3/2026 8:39:56 AM ******/
CREATE DATABASE [DoAnTotNghiep_Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnTotNghiep_Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DoAnTotNghiep_Test.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAnTotNghiep_Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DoAnTotNghiep_Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnTotNghiep_Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnTotNghiep_Test]
GO
/****** Object:  Table [dbo].[AnhSanPham]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnhSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[MauSacID] [int] NULL,
	[URL] [nvarchar](255) NULL,
	[MacDinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienTheSanPham]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienTheSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[MauSacID] [int] NOT NULL,
	[KichThuocID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[SoLuongTamGiu] [int] NULL,
	[SKU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CauHinhChung]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinhChung](
	[KeyName] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DonHangID] [int] NOT NULL,
	[BienTheSanPhamID] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[SoSao] [int] NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayDanhGia] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[PhanHoi] [ntext] NULL,
	[NgayPhanHoi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NULL,
	[DanhMucChaID] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChi]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[TenNguoiNhan] [nvarchar](200) NULL,
	[SDT_NguoiNhan] [nvarchar](10) NULL,
	[DiaChiChiTiet] [nvarchar](255) NULL,
	[PhuongXa] [nvarchar](100) NULL,
	[Tinh_ThanhPho] [nvarchar](100) NULL,
	[MacDinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [nvarchar](155) NULL,
	[NguoiDungID] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SDT_NguoiNhan] [nvarchar](10) NULL,
	[EmailNguoiNhan] [nvarchar](100) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[TongTien] [decimal](18, 2) NULL,
	[PhiVanChuyen] [decimal](18, 2) NULL,
	[GiamGia] [decimal](18, 2) NULL,
	[TongThanhToan] [decimal](18, 2) NULL,
	[PhuongThucThanhToanID] [int] NULL,
	[TrangThaiThanhToan] [bit] NULL,
	[TrangThaiDonHang] [int] NULL,
	[LyDoHuy] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GioHangID] [int] NOT NULL,
	[BienTheSanPhamID] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GoiYSanPham]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoiYSanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NULL,
	[SanPhamNguonID] [int] NULL,
	[SanPhamDuocGoiYID] [int] NOT NULL,
	[DiemGoiY] [float] NULL,
	[LoaiGoiY] [nvarchar](250) NULL,
	[ThoiDiemTinhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichThuoc]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichThuoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSize] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuKho]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuKho](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BienTheSanPhamID] [int] NOT NULL,
	[SoLuongBienDong] [int] NULL,
	[TonThucTeSauBienDong] [int] NULL,
	[LoaiGiaoDich] [nvarchar](255) NULL,
	[MaThamChieu] [nvarchar](255) NULL,
	[NgayGhi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTimKiem]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTimKiem](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NULL,
	[TuKhoa] [nvarchar](255) NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuXem]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuXem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaGiamGia]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaGiamGia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [nvarchar](50) NULL,
	[LoaiGiam] [nvarchar](155) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[DonToiThieu] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[NgayHetHan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenMau] [nvarchar](155) NULL,
	[MaHex] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](250) NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[Avt] [nvarchar](255) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[TrangThai] [bit] NULL,
	[ResetToken] [nvarchar](100) NULL,
	[ResetTokenExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuongThucThanhToan]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuongThucThanhToan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhuongThuc] [nvarchar](255) NULL,
	[MaCode] [nvarchar](50) NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [nvarchar](50) NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](200) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DanhMucID] [int] NULL,
	[GiaGoc] [decimal](18, 0) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[ChatLieu] [nvarchar](255) NULL,
	[KieuDang] [nvarchar](255) NULL,
	[LuotXem] [int] NULL,
	[TrangThai] [int] NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamYeuThich]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThich](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NguoiDungID] [int] NOT NULL,
	[SanPhamID] [int] NOT NULL,
	[NgayThem] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 3/3/2026 8:39:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[Slug] [nvarchar](255) NULL,
	[TomTat] [nvarchar](500) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[NgayDang] [datetime] NULL,
	[NguoiDungID] [int] NULL,
	[TrangThai] [bit] NULL,
	[LuotXem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnhSanPham] ON 

INSERT [dbo].[AnhSanPham] ([ID], [SanPhamID], [MauSacID], [URL], [MacDinh]) VALUES (9, 2, NULL, N'/Content/images/sanpham/ao-blazer-nam-mau-be-sua-cao-cap-bz26-main-639049712891501104.jpeg', 1)
INSERT [dbo].[AnhSanPham] ([ID], [SanPhamID], [MauSacID], [URL], [MacDinh]) VALUES (10, 2, 4, N'/Content/images/sanpham/ao-blazer-nam-mau-be-sua-cao-cap-bz26-ba2f50.jpeg', 0)
INSERT [dbo].[AnhSanPham] ([ID], [SanPhamID], [MauSacID], [URL], [MacDinh]) VALUES (11, 2, NULL, N'/Content/images/sanpham/ao-blazer-nam-mau-be-sua-cao-cap-bz26-b15f36.jpeg', 0)
GO
SET IDENTITY_INSERT [dbo].[AnhSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[BienTheSanPham] ON 

INSERT [dbo].[BienTheSanPham] ([ID], [SanPhamID], [MauSacID], [KichThuocID], [SoLuong], [SoLuongTamGiu], [SKU]) VALUES (2, 2, 4, 1, 5, 0, N'BZ26-BE-M')
INSERT [dbo].[BienTheSanPham] ([ID], [SanPhamID], [MauSacID], [KichThuocID], [SoLuong], [SoLuongTamGiu], [SKU]) VALUES (3, 2, 4, 2, 5, 0, N'BZ26-BE-L')
INSERT [dbo].[BienTheSanPham] ([ID], [SanPhamID], [MauSacID], [KichThuocID], [SoLuong], [SoLuongTamGiu], [SKU]) VALUES (4, 2, 4, 3, 14, 1, N'BZ26-DEN-XL')
GO
SET IDENTITY_INSERT [dbo].[BienTheSanPham] OFF
GO
INSERT [dbo].[CauHinhChung] ([KeyName], [Value], [MoTa]) VALUES (N'BannerAbout', N'/Content/images/config/banner_contac.jpg', N'Banner trang giới thiệu')
INSERT [dbo].[CauHinhChung] ([KeyName], [Value], [MoTa]) VALUES (N'BannerHome', N'/Content/images/config/banner_Home.jpg', N'Banner chính trang chủ')
INSERT [dbo].[CauHinhChung] ([KeyName], [Value], [MoTa]) VALUES (N'BannerLogin', N'/Content/images/config/banner_contac.jpg', N'Ảnh nền trang đăng nhập')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([ID], [DonHangID], [BienTheSanPhamID], [SoLuong], [DonGia], [ThanhTien]) VALUES (3, 3, 64, 1, CAST(1150000.00 AS Decimal(18, 2)), CAST(1150000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([ID], [DonHangID], [BienTheSanPhamID], [SoLuong], [DonGia], [ThanhTien]) VALUES (4, 3, 184, 1, CAST(490000.00 AS Decimal(18, 2)), CAST(490000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([ID], [DonHangID], [BienTheSanPhamID], [SoLuong], [DonGia], [ThanhTien]) VALUES (5, 4, 193, 1, CAST(480000.00 AS Decimal(18, 2)), CAST(480000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([ID], [SanPhamID], [NguoiDungID], [SoSao], [BinhLuan], [NgayDanhGia], [TrangThai], [PhanHoi], [NgayPhanHoi]) VALUES (1, 14, 3, 5, N'Sản phẩm tuyệt vời', CAST(N'2026-02-01T13:58:44.917' AS DateTime), 1, N'Dạ Men Store chào bạn!
Cảm ơn bạn đã để lại đánh giá và ủng hộ sản phẩm của shop, hy vọng bạn có một trải nghiệm thật ưng ý khi dùng sản phẩm, mong rằng shop sẽ nhận được sự tin tưởng của bạn trong các đơn hàng sắp tới. Chúc bạn và gia đình thật nhiều sức khỏe!
', CAST(N'2026-02-10T16:08:31.417' AS DateTime))
INSERT [dbo].[DanhGia] ([ID], [SanPhamID], [NguoiDungID], [SoSao], [BinhLuan], [NgayDanhGia], [TrangThai], [PhanHoi], [NgayPhanHoi]) VALUES (2, 36, 3, 5, N'Sản phẩm okeee, nên mua', CAST(N'2026-02-02T17:08:45.620' AS DateTime), 1, N'Dạ Men Store chào bạn!
Cảm ơn bạn đã để lại đánh giá và ủng hộ sản phẩm của shop, hy vọng bạn có một trải nghiệm thật ưng ý khi dùng sản phẩm, mong rằng shop sẽ nhận được sự tin tưởng của bạn trong các đơn hàng sắp tới. Chúc bạn và gia đình thật nhiều sức khỏe!
', CAST(N'2026-02-10T16:08:23.910' AS DateTime))
INSERT [dbo].[DanhGia] ([ID], [SanPhamID], [NguoiDungID], [SoSao], [BinhLuan], [NgayDanhGia], [TrangThai], [PhanHoi], [NgayPhanHoi]) VALUES (3, 163, 3, 5, N'sản phẩm tuyệt vời, nên mua, shop nhiệt tình', CAST(N'2026-02-23T14:04:38.903' AS DateTime), NULL, N'Dạ Men Store chào bạn! Cảm ơn bạn đã để lại đánh giá và ủng hộ sản phẩm của shop, hy vọng bạn có một trải nghiệm thật ưng ý khi dùng sản phẩm, mong rằng shop sẽ nhận được sự tin tưởng của bạn trong các đơn hàng sắp tới. Chúc bạn và gia đình thật nhiều sức khỏe!', CAST(N'2026-02-23T14:05:35.397' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([ID], [TenDanhMuc], [Slug], [DanhMucChaID], [MoTa], [HinhAnh], [NgayTao], [NgayCapNhat]) VALUES (1, N'Áo Nam', N'ao-nam', NULL, N'Các loại áo nam', N'/Content/images/danhmuc/ao-nam-639049663712363637.png', CAST(N'2026-01-25T14:09:45.463' AS DateTime), CAST(N'2026-01-25T19:42:35.300' AS DateTime))
INSERT [dbo].[DanhMuc] ([ID], [TenDanhMuc], [Slug], [DanhMucChaID], [MoTa], [HinhAnh], [NgayTao], [NgayCapNhat]) VALUES (2, N'Quần Nam', N'quan-nam', NULL, N'Các loại quần nam', N'/Content/images/danhmuc/quan-nam-639049663829843566.png', CAST(N'2026-01-25T14:20:37.427' AS DateTime), CAST(N'2026-01-25T19:42:26.307' AS DateTime))
INSERT [dbo].[DanhMuc] ([ID], [TenDanhMuc], [Slug], [DanhMucChaID], [MoTa], [HinhAnh], [NgayTao], [NgayCapNhat]) VALUES (3, N'Phụ Kiện', N'phu-kien', NULL, N'Phụ kiện cho nam

', N'/Content/images/danhmuc/phu-kien-639049665075165394.png', CAST(N'2026-01-25T14:24:34.253' AS DateTime), CAST(N'2026-01-25T19:42:16.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DiaChi] ON 

INSERT [dbo].[DiaChi] ([ID], [NguoiDungID], [TenNguoiNhan], [SDT_NguoiNhan], [DiaChiChiTiet], [PhuongXa], [Tinh_ThanhPho], [MacDinh]) VALUES (1, 3, N'Nguyễn Văn A', N'012365489', N'19', N'Phường Ba Đình', N'Thành phố Hà Nội', 1)
INSERT [dbo].[DiaChi] ([ID], [NguoiDungID], [TenNguoiNhan], [SDT_NguoiNhan], [DiaChiChiTiet], [PhuongXa], [Tinh_ThanhPho], [MacDinh]) VALUES (2, 3, N'Nguyễn Văn B', N'012654899', N'56', N'Phường Cầu Giấy', N'Thành phố Hà Nội', 0)
INSERT [dbo].[DiaChi] ([ID], [NguoiDungID], [TenNguoiNhan], [SDT_NguoiNhan], [DiaChiChiTiet], [PhuongXa], [Tinh_ThanhPho], [MacDinh]) VALUES (3, 3, N'Nguyễn Văn C', N'032165489', N'Nam Thương', N'Xã Thọ Long', N'Tỉnh Thanh Hóa', 0)
SET IDENTITY_INSERT [dbo].[DiaChi] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([ID], [MaDonHang], [NguoiDungID], [NgayDat], [TenNguoiNhan], [SDT_NguoiNhan], [EmailNguoiNhan], [DiaChiGiaoHang], [TongTien], [PhiVanChuyen], [GiamGia], [TongThanhToan], [PhuongThucThanhToanID], [TrangThaiThanhToan], [TrangThaiDonHang], [LyDoHuy]) VALUES (3, N'ORD260129100618', NULL, CAST(N'2026-01-29T10:06:18.117' AS DateTime), N'Nguyễn Văn A', N'012346782', N'hoconline2k4@gmail.com', N'211, Xã Tây Hồ, Huyện Thọ Xuân, Tỉnh Thanh Hóa', CAST(1640000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, CAST(1640000.00 AS Decimal(18, 2)), 2, 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([ID], [NguoiDungID], [NgayTao]) VALUES (1, 3, CAST(N'2026-01-30T09:34:38.293' AS DateTime))
INSERT [dbo].[GioHang] ([ID], [NguoiDungID], [NgayTao]) VALUES (2, 5, CAST(N'2026-02-03T15:54:00.653' AS DateTime))
INSERT [dbo].[GioHang] ([ID], [NguoiDungID], [NgayTao]) VALUES (3, 6, CAST(N'2026-02-03T16:09:55.383' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GoiYSanPham] ON 

INSERT [dbo].[GoiYSanPham] ([ID], [NguoiDungID], [SanPhamNguonID], [SanPhamDuocGoiYID], [DiemGoiY], [LoaiGoiY], [ThoiDiemTinhToan]) VALUES (4, NULL, 11, 5, 4, N'Similar', CAST(N'2026-02-02T09:20:11.960' AS DateTime))
INSERT [dbo].[GoiYSanPham] ([ID], [NguoiDungID], [SanPhamNguonID], [SanPhamDuocGoiYID], [DiemGoiY], [LoaiGoiY], [ThoiDiemTinhToan]) VALUES (5, NULL, 11, 6, 4, N'Similar', CAST(N'2026-02-02T09:20:11.963' AS DateTime))
INSERT [dbo].[GoiYSanPham] ([ID], [NguoiDungID], [SanPhamNguonID], [SanPhamDuocGoiYID], [DiemGoiY], [LoaiGoiY], [ThoiDiemTinhToan]) VALUES (6, NULL, 11, 7, 4, N'Similar', CAST(N'2026-02-02T09:20:11.963' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[GoiYSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[KichThuoc] ON 

INSERT [dbo].[KichThuoc] ([ID], [TenSize]) VALUES (1, N'M')
INSERT [dbo].[KichThuoc] ([ID], [TenSize]) VALUES (2, N'L')
INSERT [dbo].[KichThuoc] ([ID], [TenSize]) VALUES (3, N'XL')
SET IDENTITY_INSERT [dbo].[KichThuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuKho] ON 

INSERT [dbo].[LichSuKho] ([ID], [BienTheSanPhamID], [SoLuongBienDong], [TonThucTeSauBienDong], [LoaiGiaoDich], [MaThamChieu], [NgayGhi]) VALUES (1, 10, 10, 10, N'Nhập hàng', N'PN-010226-1322', CAST(N'2026-02-01T13:22:20.393' AS DateTime))
INSERT [dbo].[LichSuKho] ([ID], [BienTheSanPhamID], [SoLuongBienDong], [TonThucTeSauBienDong], [LoaiGiaoDich], [MaThamChieu], [NgayGhi]) VALUES (2, 64, 10, 12, N'Nhập hàng', N'PN-030226-1512', CAST(N'2026-02-03T15:12:49.673' AS DateTime))
INSERT [dbo].[LichSuKho] ([ID], [BienTheSanPhamID], [SoLuongBienDong], [TonThucTeSauBienDong], [LoaiGiaoDich], [MaThamChieu], [NgayGhi]) VALUES (3, 4, 10, 14, N'Nhập hàng', N'PN-030226-1558', CAST(N'2026-02-03T15:58:17.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuKho] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuXem] ON 

INSERT [dbo].[LichSuXem] ([ID], [NguoiDungID], [SanPhamID], [ThoiGian]) VALUES (1, 3, 18, CAST(N'2026-01-30T08:54:11.510' AS DateTime))
INSERT [dbo].[LichSuXem] ([ID], [NguoiDungID], [SanPhamID], [ThoiGian]) VALUES (2, 3, 20, CAST(N'2026-02-02T09:30:43.003' AS DateTime))
INSERT [dbo].[LichSuXem] ([ID], [NguoiDungID], [SanPhamID], [ThoiGian]) VALUES (3, 3, 56, CAST(N'2026-01-30T20:43:13.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichSuXem] OFF
GO
SET IDENTITY_INSERT [dbo].[MaGiamGia] ON 

INSERT [dbo].[MaGiamGia] ([ID], [MaCode], [LoaiGiam], [GiaTri], [DonToiThieu], [SoLuong], [NgayHetHan]) VALUES (1, N'TET2026', N'AMOUNT', CAST(50000.00 AS Decimal(18, 2)), CAST(800000.00 AS Decimal(18, 2)), 10, CAST(N'2026-02-28T23:59:00.000' AS DateTime))
INSERT [dbo].[MaGiamGia] ([ID], [MaCode], [LoaiGiam], [GiaTri], [DonToiThieu], [SoLuong], [NgayHetHan]) VALUES (2, N'HELLOSUMMER2026', N'PERCENT', CAST(8.00 AS Decimal(18, 2)), CAST(900000.00 AS Decimal(18, 2)), 2, CAST(N'2026-06-30T12:32:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[MaGiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[MauSac] ON 

INSERT [dbo].[MauSac] ([ID], [TenMau], [MaHex]) VALUES (1, N'Đen', N'#000000')
INSERT [dbo].[MauSac] ([ID], [TenMau], [MaHex]) VALUES (2, N'Trắng', N'#ffffff')
INSERT [dbo].[MauSac] ([ID], [TenMau], [MaHex]) VALUES (3, N'Nâu', N'#a0522d')
SET IDENTITY_INSERT [dbo].[MauSac] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [Avt], [VaiTro], [NgayTao], [NgayCapNhat], [TrangThai], [ResetToken], [ResetTokenExpiry]) VALUES (1, N'huycong', N'40940c8f74b63489b7031b491a7d1bd1', N'Nguyễn Huy Công', N'nguyenhuycong211@gmail.com', N'0368235623', N'/Content/images/users/avt.png', N'Admin', CAST(N'2026-01-29T14:15:00.290' AS DateTime), CAST(N'2026-01-29T14:15:00.290' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [Avt], [VaiTro], [NgayTao], [NgayCapNhat], [TrangThai], [ResetToken], [ResetTokenExpiry]) VALUES (3, N'kh1', N'40940c8f74b63489b7031b491a7d1bd1', N'Nguyễn Văn A', N'huycongdev@gmail.com', N'023456977', N'/wwwroot/images/user.png', N'Customer', CAST(N'2026-01-29T14:17:37.487' AS DateTime), CAST(N'2026-01-30T08:32:57.797' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[NguoiDung] ([ID], [TenDangNhap], [MatKhau], [HoTen], [Email], [SDT], [Avt], [VaiTro], [NgayTao], [NgayCapNhat], [TrangThai], [ResetToken], [ResetTokenExpiry]) VALUES (4, N'staff1', N'40940c8f74b63489b7031b491a7d1bd1', N'Nhân viên 1', N'nguyenhuycong2k4@gmail.com', N'0123654899', N'/wwwroot/images/user.png', N'Staff', CAST(N'2026-01-29T14:18:55.430' AS DateTime), CAST(N'2026-02-10T14:29:07.227' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] ON 

INSERT [dbo].[PhuongThucThanhToan] ([ID], [TenPhuongThuc], [MaCode], [MoTa], [HinhAnh], [TrangThai]) VALUES (1, N'Thanh toán khi nhận hàng (COD)', N'COD', N'Quý khách nhận hàng, kiểm tra hành và thanh toán tiền cho shipper', N'/Content/images/payment/COD.png', 1)
INSERT [dbo].[PhuongThucThanhToan] ([ID], [TenPhuongThuc], [MaCode], [MoTa], [HinhAnh], [TrangThai]) VALUES (2, N'Thanh toán VNPay', N'VNPAY', N'Thanh toán trực tuyến qua cổng thanh toán VNPay (ATM, QR Code, Internet Banking, Visa/Master...)', N'/Content/images/payment/VNPAY.png', 1)
SET IDENTITY_INSERT [dbo].[PhuongThucThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BienTheS__CA1ECF0D221312C3]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[BienTheSanPham] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonHang__129584AC1605E0F7]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[DonHang] ADD UNIQUE NONCLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MaGiamGi__152C7C5C9A1FC5DF]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[MaGiamGia] ADD UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC095269D57]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534A17969F9]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SanPham__FAC7442C167B103D]    Script Date: 3/3/2026 8:39:57 AM ******/
ALTER TABLE [dbo].[SanPham] ADD UNIQUE NONCLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnhSanPham] ADD  DEFAULT ((0)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[BienTheSanPham] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[BienTheSanPham] ADD  DEFAULT ((0)) FOR [SoLuongTamGiu]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT (getdate()) FOR [NgayDanhGia]
GO
ALTER TABLE [dbo].[DanhGia] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DanhMuc] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DiaChi] ADD  DEFAULT ((0)) FOR [MacDinh]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT ((0)) FOR [TrangThaiDonHang]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[GoiYSanPham] ADD  DEFAULT (getdate()) FOR [ThoiDiemTinhToan]
GO
ALTER TABLE [dbo].[LichSuKho] ADD  DEFAULT (getdate()) FOR [NgayGhi]
GO
ALTER TABLE [dbo].[LichSuTimKiem] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[LichSuXem] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhuongThucThanhToan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPhamYeuThich] ADD  DEFAULT (getdate()) FOR [NgayThem]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TinTuc] ADD  DEFAULT ((0)) FOR [LuotXem]
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD FOREIGN KEY([MauSacID])
REFERENCES [dbo].[MauSac] ([ID])
GO
ALTER TABLE [dbo].[AnhSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[BienTheSanPham]  WITH CHECK ADD FOREIGN KEY([KichThuocID])
REFERENCES [dbo].[KichThuoc] ([ID])
GO
ALTER TABLE [dbo].[BienTheSanPham]  WITH CHECK ADD FOREIGN KEY([MauSacID])
REFERENCES [dbo].[MauSac] ([ID])
GO
ALTER TABLE [dbo].[BienTheSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([BienTheSanPhamID])
REFERENCES [dbo].[BienTheSanPham] ([ID])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([DonHangID])
REFERENCES [dbo].[DonHang] ([ID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD FOREIGN KEY([DanhMucChaID])
REFERENCES [dbo].[DanhMuc] ([ID])
GO
ALTER TABLE [dbo].[DiaChi]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([PhuongThucThanhToanID])
REFERENCES [dbo].[PhuongThucThanhToan] ([ID])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD FOREIGN KEY([BienTheSanPhamID])
REFERENCES [dbo].[BienTheSanPham] ([ID])
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD FOREIGN KEY([GioHangID])
REFERENCES [dbo].[GioHang] ([ID])
GO
ALTER TABLE [dbo].[GoiYSanPham]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[GoiYSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamNguonID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[GoiYSanPham]  WITH CHECK ADD FOREIGN KEY([SanPhamDuocGoiYID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[LichSuKho]  WITH CHECK ADD FOREIGN KEY([BienTheSanPhamID])
REFERENCES [dbo].[BienTheSanPham] ([ID])
GO
ALTER TABLE [dbo].[LichSuTimKiem]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[LichSuXem]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[LichSuXem]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([DanhMucID])
REFERENCES [dbo].[DanhMuc] ([ID])
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[SanPhamYeuThich]  WITH CHECK ADD FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([ID])
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD CHECK  (([SoSao]>=(1) AND [SoSao]<=(5)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='Customer' OR [VaiTro]='Staff' OR [VaiTro]='Admin'))
GO
USE [master]
GO
