@model int
<a href="@Url.Action("Index", "Wishlist")" class="icon-item" title="Yêu thích">
    <i class="far fa-heart"></i>
    <span class="badge badge-danger rounded-circle" id="wishlistCountHeader">@Model</span>
</a>